* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(244, 244, 249);
  color: rgb(65, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

#result {
  margin: 2rem 0;
  padding: 1rem;
  background: white;
  max-height: 75vh;
  overflow-y: scroll;
  display: none;
}
#results-stats {
  display: block;
  text-align: center;
  padding-top: 2rem;
}
