{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-runtime"
    ],
    "parserOpts": {
        "plugins": [
            "@babel/plugin-proposal-optional-chaining"
        ]
    }
}